/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import "animations" M;
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1 {
  color: white; }

p {
  color: white; }

div {
  color: white; }

body {
  overflow: hidden; }

.full-page {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.landing-image {
  border-radius: 50%;
  max-width: 430px; }

.right {
  height: 100vh;
  width: 50%;
  right: 0px;
  position: absolute;
  background-color: #5B81A7;
  z-index: 10; }

.left {
  height: 100vh;
  width: 50%;
  position: absolute;
  background-color: #333633;
  z-index: 10; }

.center {
  z-index: 20; }

@-webkit-keyframes fadeInFromLeft {
  from {
    right: 100%; }
  to {
    right: 50%; } }
@-moz-keyframes fadeInFromLeft {
  from {
    right: 100%; }
  to {
    right: 50%; } }
@keyframes fadeInFromLeft {
  from {
    right: 100%; }
  to {
    right: 50%; } }
.fade-in-from-left {
  /* make things invisible upon start */
  -webkit-animation: fadeInFromLeft ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-duration: 1.2s;
  -moz-animation: fadeInFromLeft ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-duration: 1.2s;
  animation: fadeInFromLeft ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 1.2s; }

@-webkit-keyframes fadeInFromRight {
  from {
    left: 100%; }
  to {
    left: 50%; } }
@-moz-keyframes fadeInFromRight {
  from {
    left: 100%; }
  to {
    left: 50%; } }
@keyframes fadeInFromRight {
  from {
    left: 100%; }
  to {
    left: 50%; } }
.fade-in-from-right {
  /* make things invisible upon start */
  -webkit-animation: fadeInFromRight ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-duration: 1.2s;
  -moz-animation: fadeInFromLeft ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-duration: 1.2s;
  animation: fadeInFromRight ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 1.2s; }

/*# sourceMappingURL=style.css.map */
